.item{
    border: 1px solid #000;
    padding: 10px 20px;
    width: 20%;
    margin-bottom: 20px;
    margin-right: 8px;
}

.item:nth-child(4n){
    margin-right: 0;
}

.id{
    text-align: right;
}